# Install with:
#   sudo install -m 644 gh-actions-runner.service /etc/systemd/system/
#   sudo systemctl daemon-reload
#   sudo systemctl enable gh-actions-runner
# Run with:
#   sudo systemctl start gh-actions-runner
# Stop with:
#   sudo systemctl stop gh-actions-runner
# See live logs with:
#   journalctl -f -u gh-actions-runner.service --no-hostname --no-tail
[Unit]
Description=GitHub Actions Runner Container
After=docker.service
Requires=docker.service
[Service]
Environment="COMPOSE_FILE=/etc/gh-actions-runner-compose.yml" \
            "ENV_FILE=/etc/gh-actions-runner.env"
# Docker pull shouldn't take longer than 5 minutes
TimeoutStartSec=5min
Restart=always
# Test that the Docker service has access to the GPU drivers
ExecStartPre=/usr/bin/docker run --rm --runtime=nvidia --gpus all nvidia/cuda:12.0.1-devel-ubuntu22.04 nvidia-smi
ExecStartPre=-/usr/bin/docker compose \
                      -f $COMPOSE_FILE \
                      --env-file $ENV_FILE \
                      stop %N
ExecStartPre=-/usr/bin/docker compose \
                        -f $COMPOSE_FILE \
                        --env-file $ENV_FILE \
                        rm %N
ExecStartPre=-rm -r /var/tmp/runner/_work
ExecStart=/usr/bin/docker compose \
                    -f $COMPOSE_FILE \
                    --env-file $ENV_FILE \
                    up --scale worker=1
[Install]
WantedBy=multi-user.target
